// app global css in SCSS form
@font-face {
  font-family: itauRg;
  src: url(../fonts/Saira-Regular.ttf);
}
.itau-font-rg {
  font-family: 'itauRg';
}

@font-face {
  font-family: itauBlack;
  src: url(../fonts/Saira-Medium.ttf);
}
.itau-font-blk {
  font-family: 'itauBlack';
}

@font-face {
  font-family: itauBold;
  src: url(../fonts/Saira-SemiBold.ttf);
}
.itau-font-bd {
  font-family: 'itauBold';
}

.bg-portugues {
  background: #00403D;
}

.bg-espanol{
  background: #C9D00E;
}

.bg-footer{
  background: #f2f2f2 ;
}

.text-portugues {
  color: #C9D00E;
}

.text-espanol{
  color: #00403D;
}

.text-titulos{
  color: #636054;
}
